@font-face {
  font-family:"Format 1452";  
  src: url("./assets/Format_1452.woff2") format("woff2");
}

@font-face {
    font-family:"Pilowlava";  
    src: url("./assets/Pilowlava-Regular.woff2") format("woff2");
  }

  body{
      background-color: bisque;
  }

h1 {
    font-family: "Pilowlava";
    font-size: 100px;
    color: pink;
}

h2 {
    font-family: "Format 1452";
    color: orange;
    font-size: 70px;
}

.paragraph {
   font-family:"Format 1452";
   font-size: 50px;
   color: brown;
}

.blue:hover {
    color: blue;
    font-size: 80px;
}

.tilt:hover {
    font-size: 80px;
    color: orange;
}

.font:hover {
    font-family: "Pilowlava";
    color: white;
    font-size: 80px;
}
