@font-face {
  font-family:"Format 1452";  
  src: url("./assets/Format_1452.woff2") format("woff2");
}

@font-face {
    font-family:"Pilowlava";  
    src: url("./assets/Pilowlava-Regular.woff2") format("woff2");
  }

  body{
    background: linear-gradient(220deg, #f9a859, #f7f596, #d55b3f, #ec5e1c);
    background-size: 800% 800%;

    -webkit-animation: Animation1 19s ease infinite;
    -moz-animation: Animation1 19s ease infinite;
    animation: Animation1 19s ease infinite;
  }

h1 {
    font-family: "Pilowlava";
    font-size: 100px;
    color: white;
}

h2 {
    font-family: "Format 1452";
    color: orange;
    font-size: 70px;
}

.paragraph {
   font-family:"Format 1452";
   font-size: 50px;
   color: brown;
}

.blue:hover {
    color: white;
    font-size: 80px;
}

.tilt:hover {
    font-size: 80px;
    color: orange;
}

.font:hover {
    font-family: "Pilowlava";
    color: white;
    font-size: 80px;
}

.big {
    color: orange;
    position: relative;
    animation: fadeIn 3s infinite;
      }
      
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
      }
  }



@-webkit-keyframes Animation1 {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes Animation1 {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes Animation1 { 
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}